

    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"> <h2 class="animated animatedFadeInUp fadeInUp">Contact Us</h2></div>
    </div>
    <div class="row">
        <div class="col-lg-4 col-md-4  adjusting">
            <h4 class="color">USA</h4>
            <p class="p">Phone: +1 872 588 4943 (<span class="colorspan">WhatsApp Also </span>)</p>
            <p class="p">Email:<a > info@spiritsofts.com </a></p>

        </div>

        <div class="col-lg-4 col-md-4 adjusting">
            <h4 class="color">INDIA</h4>
            <p class="p">Phone:+91 970 442 9989 (<span class="colorspan">WhatsApp Also </span>)</p>
            <p class="p">Email:<a> info@spiritsofts.com </a></p>

        </div>

        <div class=" col-lg-4 col-md-4  adjusting">
            <h4 class="color">USA</h4>
            <p class="p">Phone: +1 872 588 4943 (<span class="colorspan">WhatsApp Also </span>)</p>
            <p class="p">Email:<a> info@spiritsofts.com </a></p>

        </div>


    </div>
<div class="row colorofBottom">
    <form>
        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">

            <div class="form-group margintop ">
                <input type="text" name="name" placeholder="Name" class="form-control' width" />
            </div>

            <div class="form-group ">
                <input type="text" name="Email" placeholder="Email" class="form-control' width" />
            </div>

            <div class="form-group ">
                <input type="text" name="phone" placeholder="Phone" class="form-control' width" />
            </div>

            <div class="form-group marginbottom">
                <input type="text" name="Location" placeholder="Location" class="form-control' width" />
            </div>
        </div>
        <div class="col-lg-6 co-md-6 col-sm-12 col-xs-12 ">
            <div class="form-group margintop ">
                <textarea name="name" placeholder="Message" class="form-control' widthofText" rows="8"></textarea>
            </div>

            <div class="form-group marginbottom">
                <button type="button" class="btn btn-group-lg btn-primary widthofText">Send</button>
            </div>
        </div>
    </form>
</div>
