
<div class="container">
    <div class="row">

        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 h3padding"><h3 >{{details?.CourseName}} Online Training</h3></div>

    </div>
    <div class="row marginbottom">

        <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 ">
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-justify textwidth ">
                    <img [src]="photoURL()" class="imagewidth" />

               
                    {{details?.CourseParaGraphOne}}

                </div>
            </div>
            <div class="row ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12  text-justify textwidth ">
                    {{details?.CourseParaGraphTwo}}
                </div>

            </div>

               

                <!--<div>
        <button (click)='onclickss()'>hell</button>

        <ul *ngFor="let key of keyword ">
            {{key}}
        </ul>
    </div>
    <div>
        <button (click)='FAQ()'>hello</button>

        <ul *ngFor="let key1 of faq ">
            {{key1}}
        </ul>
    </div>
    <div>
        <button (click)='CourseContent()'>hellos</button>

        <ul *ngFor="let key2 of courseContent ">
            {{key2}}
        </ul>
    </div>-->

            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12 widthofbox">
                <h4 class="top h4weight">Enquiry</h4>
                <form class="padding" #detailsForm="ngForm" (ngSubmit)="onSubmit(detailsForm.value)">
                    <div class="form-group ">
                        <input class="form-control" type="text" name="name" placeholder="Your Name" [(ngModel)]="name" #nameRef="ngModel" required />
                        <div [hidden]="nameRef.valid || nameRef.pristine "
                             class="alert alert-danger">
                            Name is required
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" [(ngModel)]="email"  name="email" #emailRef="ngModel" placeholder="Your Email" required />
                        <div [hidden]="emailRef.valid || emailRef.pristine"
                             class="alert alert-danger">
                            Email is Required
                        </div>
                    </div>
                    <div class="form-group ">
                        <input type="text" name="phone" [(ngModel)]="phone" #phoneRef="ngModel" class="form-control" placeholder="Your PhoneNumber" required />
                        <div [hidden]="phoneRef.valid || phoneRef.pristine"
                             class="alert alert-danger">
                           Phone Number is Required
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="text" name="Location" [(ngModel)]="Location" #locationRef="ngModel" class="form-control" required placeholder="Location" />
                        <div [hidden]="locationRef.valid ||locationRef.pristine"
                             class="alert alert-danger widths">
                            Location is Required
                        </div>

                    </div>
                    <div class="form-group ">
                        <textarea class="form-control" name="message" [(ngModel)]="message" #messageRef="ngModel" placeholder="Course/Your Message" rows="3"></textarea>

                    </div>
                    <button [disabled]="!detailsForm.form.valid" type="submit" class="btn btn-primary btn-sm">
                        Send
                    </button>
                </form>
            </div>
        </div>
</div>