<div class="row">

    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">coursename</div>
    
</div>
<div class="row marginbottom">

    <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 color">
        <div *ngFor="let detail of details">{{detail.CourseParaGraphOne}}</div>
    </div>
    <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 widthofbox">
        <form class="padding">
            <div class="form-group width">
                <input class="form-control" type="text" name="name" placeholder="Your Name" />
            </div>
            <div class="form-group width">
                <input class="form-control" type="text" name="email" placeholder="Your Email" />
            </div>
            <div class="form-group width">
                <input class="form-control" type="text" name="phonenumber" placeholder="Your PhoneNumber" />
            </div>
            <div class="form-group width">
                <input class="form-control" type="text" name="location" placeholder="Location" />
            </div>
            <div class="form-group width">
                <textarea class="form-control"  name="name" placeholder="Course/Your Message" rows="3" ></textarea>
            </div>
            <button class="btn btn-primary btn-sm">
                Send
            </button>
        </form>
    </div>
</div>