.color{
    background-color:azure;

}
.width{
    
    width:80%;
}
.widthofbox{
    width:20%;
    margin-left:1%;
    background-color:azure;
}
.marginbottom{
    margin-bottom:2%;
}
.padding{
    margin-top:10%;
}