@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}
.top-header {
}
.info {
	text-align: center;
	background: #1c619c;
    padding-top:1%;
    padding-bottom:1%;
	font-size: 120%;
	color: white;
	font-weight: 700;
}
.tile-header {
	background: #0000ff1c;
}
.title-name {
    text-align: center;
    color: #1c619c;
    font-size: 40px;
}
.page-links {
    font-weight: 700;
    padding: 16px;
    font-size: 16px;
    border: none;
}
.layout-bottom {
    color: white;
    background: #2b2b2b;
    
}
.paddingLeft{
    //padding-left:5%;
    font-weight:900;
}
.paddingofdiv{
    margin-left:5%;
}


.paddingofleft{
  
}

.li{
    padding-bottom:3%;
    font-weight:700;
    
}

    .li:hover {
        color: cornflowerblue;
        font-weight: 700;
    }

.h6 {
    padding-bottom: 3%;
    padding-left:5%;
    font-weight:700;
    font-size:100%;
}

.dropbtn {
    color: #337ab7;
    // padding:10px;
    // padding: 10px;
    // padding-top: 200%;
    padding: 16px;
    font-size: 16px;
    border: none;
    font-weight: 700;
    background-color: transparent;
   // padding-top: 10%;
}
    .dropbtn:hover {
        color: #337ab7;
        //padding: 10px;
        // padding: 10px;
        // padding-top: 200%;
        padding: 16px;
        font-size: 16px;
        border: none;
        font-weight: 700;
        background-color: whitesmoke;
       // padding-top: 5%;
    }


.paddingtop {
    padding-top: 15%;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
   // padding-right:100%;
    display: none;
    position: absolute;
    background-color: lightblue;
    min-width: 250%;
    //box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

    .dropdown-content a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

        .dropdown-content a:hover {
            background-color: #ddd;
        }

.dropdown:hover .dropdown-content {
    display: block;
}

.paddingtopnav{
    margin-top:unset;
}

.paddingofh6{
    padding-right:3%;
    color:blue;
}
.lilist{
    color:blue;
    padding-right:2%;
    
}

.paddingLeftofcontactinfo{
    padding-left:5%;
}
.paddingofheader{
    padding-left:0.5%;
}
