

        <div class="top-header">
            <div class="row info">
                INDIA :  <i class="fa fa-phone "></i>  +91 970 442 9989,  <i class="fa fa-phone "></i>+91 789 304 0005 | <i class="fa fa-envelope "></i> info@spiritsofts.com
            </div>
         
            <div class="navbar navbar-btn tile-header paddingtopnav">
                <div class="container">
                    <div class="navbar-header ">
                        <a class="navbar-brand title-name" href="#"> NivasIt</a>
                    </div>
                    <ul class="nav navbar-nav navbar-right ">
                        <li ><a class="page-links active" routerLink="/home">Home</a></li>
                        <li><a class="page-links" routerLink="/courses">Courses</a></li>
                        <li>  <a class="page-links" routerLink="/ProjectSupport">ProjectSupport</a></li>
                       
                        <li >
                            <div class=" dropdown ">
                                <button class="dropbtn ">Register</button>
                                <div class="dropdown-content">
                                    <a routerLink="/StudentRegister">STUDENT REGISTRATION</a>
                                    <a routerLink="/FacultyRegister">FACULTY REGISTRATION</a>
                                </div>
                            </div>
                        </li>
                       
                        <li>  <a class="page-links" routerLink="/AboutUs">AboutUs</a></li>
                        <li><a class="page-links" routerLink="/ContactUs">ContactUs</a></li>

                    </ul>
                </div>
            </div>
        </div>
		<div class='body-content clearfix'>
			<router-outlet></router-outlet>
		</div>
        <div class="row layout-bottom">
         
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4 class="paddingLeft"> QuickLinks</h4> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                
                        <h6 class="li"> <i class=" fa fa-chevron-circle-right lilist"></i>Home</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>Courses</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>ProjectSupport</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>Register</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>ContactUs</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>Search</h6>
                  




                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 paddingofleft ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4 class="paddingLeft"> LastestCourses</h4> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>RPATraining</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>Hadoop</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>Automation</h6>
                         <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>DellBommiTraining</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>Uipath</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>DevOps</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>DellBommiTraining</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>Uipath</h6>
                   




                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 paddingofleft">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4 class="paddingLeft"> CourseCategories</h4> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingLeft">
                   
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>Hyperion</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>OrcaleApps</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>OtherApps</h6>
                        <h6 class="li"><i class=" fa fa-chevron-circle-right lilist"></i>SoftwareTesting</h6>

                 




                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 paddingofleft ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4 class="paddingLeft paddingLeftofcontactinfo"> ContactInfo</h4> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <h6 class="h6"><i class="fa fa-phone paddingofh6"></i>INDIA:+91 7893040005</h6>
                    <h6 class="h6"><i class="fa fa-phone paddingofh6" ></i>USA:+91 7893040005</h6>
                    <h6 class="h6"><i class="fa fa-envelope paddingofh6"></i>infotech@it.com</h6>
                </div>
            </div>
        </div>

 