
	<div>
        <div class="top-header">
            <div class="row info">
                INDIA :+91 970 442 9989, +91 789 304 0005 | info@spiritsofts.com
            </div>
         
            <div class="navbar navbar-btn tile-header">
                <div class="container">
                    <div class="navbar-header ">
                        <a class="navbar-brand title-name" href="#"> NivasIt</a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li ><a class="page-links active" routerLink="/home"><i class="fa fa-rupee-sign"></i>Home</a></li>
                        <li><a class="page-links" routerLink="/courses">Courses</a></li>
                        <li>  <a class="page-links" routerLink="/ProjectSupport">ProjectSupport</a></li>
                       
                        <li class="dropdown ">
                            <div class="paddingtop">
                                <a class="dropbtn ">Register</a>
                                <div class="dropdown-content">
                                    <a routerLink="/StudentRegister">STUDENT REGISTRATION</a>
                                    <a routerLink="/FacultyRegister">FACULTY REGISTRATION</a>
                                </div>
                            </div>
                        </li>
                       
                        <li>  <a class="page-links" routerLink="/AboutUs">AboutUs</a></li>
                        <li><a class="page-links" routerLink="/ContactUs">ContactUs</a></li>

                    </ul>
                </div>
            </div>
        </div>
		<div class='body-content clearfix'>
			<router-outlet></router-outlet>
		</div>
        <div class="row layout-bottom">
         
            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4 class="paddingLeft"> QuickLinks</h4> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul >
                        <li class="li">Home</li>
                        <li class="li">Courses</li>
                        <li class="li">ProjectSupport</li>
                        <li class="li">Register</li>
                        <li class="li">ContactUs</li>
                        <li class="li">Search</li>
                    </ul>




                </div>

            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 paddingofleft ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4 class="paddingLeft"> LastestCourses</h4> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li class="li">RPATraining</li>
                        <li class="li">Hadoop</li>
                        <li class="li">Automation</li>
                         <li class="li">DellBommiTraining</li>
                        <li class="li">Uipath</li>
                        <li class="li">DevOps</li>
                        <li class="li">DellBommiTraining</li>
                        <li class="li">Uipath</li>
                    </ul>




                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 paddingofleft">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4 class="paddingLeft"> CourseCategories</h4> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul>
                        <li class="li">Hyperion</li>
                        <li class="li">OrcaleApps</li>
                        <li class="li">OtherApps</li>
                        <li class="li">SoftwareTesting</li>

                    </ul>




                </div>
            </div>

            <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 paddingofleft ">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12"><h4 class="paddingLeft"> ContactInfo</h4> </div>
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">


                    <h6 class="h6">INDIA:+91 7893040005</h6>
                    <h6 class="h6">USA:+91 7893040005</h6>
                    <h6 class="h6">infotech@it.com</h6>
                </div>
            </div>
        </div>
</div>
 