@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}
.top-header {
}
.info {
	text-align: center;
	background: #1c619c;
	padding: 10px;
	font-size: 14px;
	color: white;
	font-weight: 700;
}
.tile-header {
	background: #0000ff1c;
}
.title-name {
    text-align: center;
    color: #1c619c;
    font-size: 40px;
}
.page-links{
    font-weight:700;

}
.layout-bottom {
    color: white;
    background: #2b2b2b;
}