<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 col-lg-12 col-sm-12"> <h3 class="animated animatedFadeInUp fadeInUp">Project Support</h3></div>
        <div class="padding"><p>
    Spiritsofts Provides Project support for SAS,
                 <span class="color">
                     Oracle Apps SCM, Oracle Apps Finance, Oracle Apps Technical, Hyperion Essbase, Hyperion Planning, HFM, FDMEE, ODI and Cognos tm1, Dell Boomi, RPA, DevOps,
                     Workday, AI
                 </span> &hellip;..etc.
</p></div>
    </div>

</div>