.training{

}
.trainingHead {

}
@keyframes fadeInUp {
	from {
		transform: translate3d(0,40px,0)
	}

	to {
		transform: translate3d(0,0,0);
		opacity: 1
	}
}

@-webkit-keyframes fadeInUp {
	from {
		transform: translate3d(0,40px,0)
	}

	to {
		transform: translate3d(0,0,0);
		opacity: 1
	}
}

.animated {
	animation-duration: 1s;
	animation-fill-mode: both;
	-webkit-animation-duration: 1s;
	-webkit-animation-fill-mode: both
}

.animatedFadeInUp {
	opacity: 0
}

.fadeInUp {
	opacity: 0;
	animation-name: fadeInUp;
	-webkit-animation-name: fadeInUp;
}
.homeCourses img {
	width: 100%;
}
.styleButtonSize {
    width: 200px;
}
.paddingBottom {
    padding-bottom:3px;
}
.styleButton:hover {
    width:200px;
    color:black;
    background-color:white
}
.paddingOfLeftGrid{
    padding-left:100px
}
.figureSize {
    width: 300px;
    height: 180px;
    padding-right:2px;
}
/*. .Content {
    width: 100%;
    padding: 2px 2px;
    border-top: 3px solid rgb(0, 176, 228);
    //padding-bottom: 3px;
    border: 1px solid #dfdfdf;
    margin-bottom: 8%;
}*/
.padding{
    margin-bottom:2%;
}
.wrapperAroundCourses .Content {

    width: 100%;
    padding: 2px 2px;
    border-top: 3px solid rgb(0, 176, 228);
    border: 1px solid #dfdfdf;
    margin-bottom: 10%;
}

.courses img {
    width: 100%;
}

.textAlignment {
    text-align: justify;
    font-family: Arial;
    font-size: 110%;
    padding-left: 10%;
    color:black;
}

.paddingofh3{
    padding-left:20%;
}

.margin{
    margin-top:3%;
}

.image {
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQXCvzO5X9-pO9TqPDKP3I_hjpt1d2XgbWwkPd82_VjF4H_7EvsiA);
    margin-bottom: 2%;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    /*background-size:100%;*/
}


.figureSize {
    width: 300px;
    height: 180px;
    padding-right: 2px;
}

.wrapperAroundchoose .Content {
    width: 100%;
    padding: 2px 2px;
    border-top: 3px solid rgb(0, 176, 228);
    border: 1px solid #dfdfdf;
    margin-bottom: 10%;

}
.wrapperAroundchoose .Content:hover {
    width: 100%;
    padding: 2px 2px;
    border-top: 3px solid rgb(0, 176, 228);
    border: 1px solid #dfdfdf;
    margin-bottom: 10%;
    background-color:cadetblue;
    color:black;
}