

<div class=" row  ">
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 text-center clearfix image">


        <h3 class="fontweightofhome colorofBottom colorofaboutheading">ABOUT <span class="colorofus">US</span></h3>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 marginbottomofaboutus">
            <p class=" animated animatedFadeInUp fadeInUp textAlignment margin ">
                NivasIt is a global training institute based at Hyderabad India& California USA. We are the leading training for Workday, DevOps, RPA &ndash; Blue Prism, UiPath, Automation Anywhere, Open Span, Work Fusion, Dell Boomi, AI : Artificial Intelligence, Oracle Apps, Hyperion and Microsoft Business Intelligence, Big Data, Pega, Python Scripting. Our institute founded in 2009 by IT professionals. Our aim is to provide best and quality training in the latest IT technologies.
                All our trainers are real time professionals and have more than 11 years of experience.
            </p>
            <br /><br />
            <p class="animated animatedFadeInUp fadeInUp textAlignment  ">
                NivasIt offers online training with flexible and cost effective.Attend classes in online no need to come to my place attend classes at your place anywhere world any time time zone like USA, UK, Dubai, Singapore, Malaysia, Canada, Australia, nz, UAE..... Also offer training in week days, weekends and fast track which is based on your timings and availability of trainer.
            </p>
            <button class="btn btn-primary btn-lg marginbutton"(click)="knowmore()">KnowMore<i class="fa fa-arrow-right paddingarrow"></i></button>
        </div>
    </div>
</div>



<!--<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">-->
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 paddingOfLeftGrid">
    <h3 class="animated animatedFadeInUp fadeInUp text-center padding fontweightofhome">Ours Courses </h3>



    <div class="courses text-center clearfix  ">

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
            <figure>
                <div class="wrapperAroundCourses ">
                    <div>
                        <a routerLink="/courses/details"><img src="../../../../wwwroot\Pictures\BigData&Hadoop.png" alt="" class="figureSize"></a>
                    </div>
                    <figcaption class="item-description Content">
                        <a routerLink="/courses/details">
                            <h4 class="item-title fontweightofhome">Big Data &amp; Hadoop</h4>
                            <p class="fontweightofhome">Training</p>
                        </a>
                    </figcaption>
                </div>
            </figure>

        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
            <figure>
                <div class="wrapperAroundCourses ">
                    <div>
                        <a href="http://spiritsofts.com/rpa-training-online/"><img src="../../../../wwwroot\Pictures\RoboticProcessAutomation.png" alt="" class="figureSize"></a>
                    </div>
                    <figcaption class="item-description Content">
                        <a href="http://spiritsofts.com/rpa-training-online/">
                            <h4 class="item-title fontweightofhome">RPA COURSES</h4>
                            <p class="fontweightofhome">Training</p>
                        </a>
                    </figcaption>
                </div>
            </figure>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
            <figure>
                <div class="wrapperAroundCourses ">
                    <div>
                        <a href="http://spiritsofts.com/devops-training-online/"><img src="../../../../wwwroot\Pictures\DevOps.png" alt="" class="figureSize"></a>
                    </div>
                    <figcaption class="item-description Content">
                        <a href="http://spiritsofts.com/devops-training-online/">
                            <h4 class="item-title fontweightofhome">DevOps</h4>
                            <p class="fontweightofhome">Training</p>
                        </a>
                    </figcaption>
                </div>
            </figure>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
            <figure>
                <div class="wrapperAroundCourses ">
                    <div>
                        <a href="http://spiritsofts.com/tableau-training-tutorial/"><img src="../../../../wwwroot\Pictures\TabelauAdvanced.png" alt="" class="figureSize"></a>
                        <!--   <div class="overlay"> <a data-lightbox="image1" href="http://spiritsofts.com/wp-content/uploads/2016/11/Taleau-Logo.jpg" class="link-left">
                        <i class="fa fa-plus"></i></a> <a href="http://spiritsofts.com/tableau-training-tutorial/" class="link-right"><i class="fa fa-link"></i></a> </div>//ekkada cooment-->
                    </div>
                    <figcaption class="item-description Content">
                        <a href="http://spiritsofts.com/tableau-training-tutorial/">
                            <h4 class="item-title fontweightofhome">Tableau Advanced</h4>
                            <p class="fontweightofhome">Training</p>
                        </a>
                    </figcaption>
                </div>
            </figure>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
            <figure>
                <div class="wrapperAroundCourses ">
                    <div>
                        <a href="http://spiritsofts.com/servicenow-training/"><img src="../../../../wwwroot\Pictures\ServiceNow.png" alt="" class="figureSize"></a>
                    </div>
                    <figcaption class="item-description Content">
                        <a href="http://spiritsofts.com/servicenow-training/">
                            <h4 class="item-title fontweightofhome">ServiceNow</h4>
                            <p class="fontweightofhome">Training</p>
                        </a>
                    </figcaption>
                </div>
            </figure>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
            <figure>
                <div class="wrapperAroundCourses  ">
                    <div class="img">
                        <a href="http://spiritsofts.com/hyperion-financial-management-online-training/"><img src="../../../../wwwroot\Pictures\HyperionHFM.png" alt="" class="figureSize"></a>
                    </div>
                    <figcaption class="item-description Content">
                        <a href="http://spiritsofts.com/hyperion-financial-management-online-training/">
                            <h4 class="item-title fontweightofhome">Hyperion HFM</h4>
                            <p class="fontweightofhome">Training</p>
                        </a>
                    </figcaption>
                </div>
            </figure>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
            <figure>
                <div class="wrapperAroundCourses ">
                    <div>
                        <a href="http://spiritsofts.com/dell-boomi-training-online"><img src="../../../../wwwroot\Pictures\RoboticProcessAutomation.png" alt="" class="figureSize"></a>
                    </div>
                    <figcaption class="item-description Content">
                        <a href="http://spiritsofts.com/dell-boomi-training-online">
                            <h4 class="item-title fontweightofhome">Dell Boomi</h4>
                            <p class="fontweightofhome">Training</p>
                        </a>
                    </figcaption>
                </div>
            </figure>
        </div>
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12 ">
            <figure>
                <div class="wrapperAroundCourses ">
                    <div>
                        <a href="http://spiritsofts.com/workday-training-online"><img src="../../../../wwwroot\Pictures\RoboticProcessAutomation.png" alt="" class="figureSize"></a>
                    </div>
                    <figcaption class="item-description Content">
                        <a href="http://spiritsofts.com/workday-training-online">
                            <h4 class="item-title fontweightofhome">WORKDAY</h4>
                            <p class="fontweightofhome">Training</p>
                        </a>
                    </figcaption>
                </div>
            </figure>
        </div>

    </div>
</div>
<router-outlet></router-outlet>
<!--</div>-->

<div>
    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix text-center ">
        <h3 class="classforh3">WHY CHOOSE</h3>
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col-lg-push-3 col-md-push-3 ">
           
                <div class="content-left col-md-4 col-lg-4 col-xs-12 col-sm-12 ">
                    <div class="box-left wrapperAroundchoose ">
                        <div class="content-left col-md-4 col-lg-4 col-xs-12 col-sm-12 Content"><span class="icon  "><i class="fa fa-users fa-5x icons"></i>  </span>

                            <h4 class="classforh4"><a href="#">Certified Trainers</a></h4>
                        </div>
                    </div>
                
                <br><br><br>
                <div class="box-left wrapperAroundchoose ">
                    <div class="content-left col-md-4 col-lg-4 col-xs-12 col-sm-12 Content">
                        <span class="icon"> <i class="fa fa-cog icons fa-5x"></i><i class="fa fa-university icons fa-5x"></i> </span>

                        <h4 class="classforh4"><a href="#">24/7 Server access/ Software Installation</a></h4>
                    </div>
                </div>
                <br><br><br>
                        <div class="box-left wrapperAroundchoose ">
                            <div class="content-left col-md-4 col-lg-4 col-xs-12 col-sm-12 Content">
                                <span class="icon"> <i class="fa fa-tty icons fa-5x" aria-hidden="true"></i></span>
                               
                                    <h4 class="classforh4"><a href="#">Support after Training</a></h4>
                                </div>
                            </div><br><br><br>
                        </div>
            <div class="content-right col-md-4 col-lg-4 col-xs-12 col-sm-12">
                <div class="box-right wrapperAroundchoose ">
                    <div class="content-left col-md-4 col-lg-4 col-xs-12 col-sm-12 Content">
                        <span class="icon"><i class="fa fa-clock-o icons fa-5x"></i> </span>
                       
                            <h4 class="classforh4"><a href="#">Flexible Timings</a></h4>
                        </div>
                    </div>
                    <br><br><br>
                            <div class="box-right wrapperAroundchoose ">
                                <div class="content-left col-md-4 col-lg-4 col-xs-12 col-sm-12 Content">
                                    <span class="icon"> <i class="fa fa-laptop icons fa-5x"></i> </span>
                                  
                                        <h4 class="classforh4"><a href="#">Interactive Learning sessions</a></h4>
                                    </div>
                                </div>
                                <br><br><br>
                                        <div class="box-right  wrapperAroundchoose">
                                            <div class="content-left col-md-4 col-lg-4 col-xs-12 col-sm-12 Content">
                                                <span class="icon"> <i class="fa fa-comments icons fa-5x"></i><i class="fa fa-file-o icons fa-5x"></i> </span>
                                             
                                                    <h4 class="classforh4"><a href="#">Customized Curriculum</a></h4>
                                                </div>
                                            </div><br><br><br><br>
                                        </div>
        </div>
    </div>

</div>